body {
 background: #eeeeec;
 color: #444;
 font-family: Helvetica, Arial, Verdana, sans-serif;
 font-size: 16px;
 line-height: 1.6;
 margin: 0;
}

#container {
 margin: 0 auto;
 width: 700px;
}

h1, h2 {
 color: #000;
 font-family: Georgia, "bitstream vera serif", Times, serif;
 font-weight: normal;
 letter-spacing: -.03em;
}

h1 a {
 text-decoration: none;
}

h1 {
 font-size: 220%;
 line-height: 1.25em;
 margin: 1em 0 .5em 0;
}

h2 {
 font-size: 160%;
 line-height: 1.25em;
 margin: .75em 0 .5em 0;
}

a {
 color: #204a87;
 text-decoration: none;
}

a:hover {
 color: #729fcf;
 text-decoration: underline;
}

img {
 border: none;
 padding: 15px;
}

img.github {
 position: absolute;
 top: 0;
 right: 0;
 padding: 0;
}

p {
 margin: .5em 0 .75em 0;
}

footer p {
 font-size: 80%;
 text-align: center;
}

footer a {
 color: #444;
}

footer a:hover {
 color: #444;
}

pre {
 background: #2e3436;
 color: #fff;
 font-family: Monaco, Consolas, monospace;
 font-size: 14px;
 line-height: 150%;
 padding: 15px;
}

hr {
 background-color: #2e3436;
 border: 0;
 height: 1px;
 margin: 0;
 padding: 0;
}
