<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;img type=&quot;image/svg+xml&quot; height=&quot;300&quot; src=&quot;ws/build/pdepend/overview-pyramid.svg&quot; width=&quot;500&quot;&gt;&lt;/img&gt;&#xd;
&lt;img type=&quot;image/svg+xml&quot; height=&quot;300&quot; src=&quot;ws/build/pdepend/dependencies.svg&quot; width=&quot;500&quot;&gt;&lt;/img&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets></targets>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
	  <defaultEncoding></defaultEncoding>
      <canRunOnFailed>true</canRunOnFailed>
      <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>false</dontComputeNew>
      <doNotResolveRelativePaths>true</doNotResolveRelativePaths>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>PHP Runtime</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.plugins.checkstyle.CheckStylePublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[CHECKSTYLE] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>true</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <pattern>build/logs/checkstyle.xml</pattern>
    </hudson.plugins.checkstyle.CheckStylePublisher>
    <hudson.plugins.pmd.PmdPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[PMD] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>true</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <pattern>build/logs/pmd.xml</pattern>
    </hudson.plugins.pmd.PmdPublisher>
    <hudson.plugins.dry.DryPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[DRY] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>true</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <pattern>build/logs/pmd-cpd.xml</pattern>
      <highThreshold>50</highThreshold>
      <normalThreshold>25</normalThreshold>
    </hudson.plugins.dry.DryPublisher>
      <hudson.plugins.plot.PlotPublisher>
          <plots>
              <hudson.plugins.plot.Plot>
                  <title>A - Lines of code</title>
                  <yaxis>Lines of Code</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Lines of Code (LOC)</string>
                              <string>Comment Lines of Code (CLOC)</string>
                              <string>Non-Comment Lines of Code (NCLOC)</string>
                              <string>Logical Lines of Code (LLOC)</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Lines of Code (LOC),Comment Lines of Code (CLOC),Non-Comment Lines of Code (NCLOC),Logical Lines of Code (LLOC)
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>123.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>B - Structures Containers</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Namespaces</string>
                              <string>Files</string>
                              <string>Directories</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>Directories,Files,Namespaces</exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>1107599928.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>C - Average Length</title>
                  <yaxis>Average Lines of Code</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Average Function Length (LLOC)</string>
                              <string>Average Method Length (LLOC)</string>
                              <string>Average Class Length (LLOC)</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Average Class Length (LLOC),Average Method Length (LLOC),Average Function Length (LLOC)
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>523405415.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>D - Relative Cyclomatic Complexity</title>
                  <yaxis>Cyclomatic Complexity by Structure</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Cyclomatic Complexity / Lines of Code</string>
                              <string>Cyclomatic Complexity / Number of Methods</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Cyclomatic Complexity / Lines of Code,Cyclomatic Complexity / Number of Methods
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>186376189.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>E - Types of Classes</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Abstract Classes</string>
                              <string>Classes</string>
                              <string>Concrete Classes</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>Classes,Abstract Classes,Concrete Classes</exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>594356163.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>F - Types of Methods</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Methods</string>
                              <string>Static Methods</string>
                              <string>Non-Static Methods</string>
                              <string>Public Methods</string>
                              <string>Non-Public Methods</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Methods,Non-Static Methods,Static Methods,Public Methods,Non-Public Methods
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>1019987862.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>G - Types of Constants</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Class Constants</string>
                              <string>Global Constants</string>
                              <string>Constants</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>Constants,Global Constants,Class Constants</exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>217648577.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>I - Testing</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Test Classes</string>
                              <string>Test Methods</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>Test Classes,Test Methods</exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>174807245.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>AB - Code Structure by Logical Lines of Code</title>
                  <yaxis>Logical Lines of Code</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Classes Length (LLOC)</string>
                              <string>LLOC outside functions or classes</string>
                              <string>Functions Length (LLOC)</string>
                              <string>Logical Lines of Code (LLOC)</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Logical Lines of Code (LLOC),Classes Length (LLOC),Functions Length (LLOC),LLOC outside functions or classes
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>946905520.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>H - Types of Functions</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Functions</string>
                              <string>Named Functions</string>
                              <string>Anonymous Functions</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>Functions,Named Functions,Anonymous Functions</exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>1174623854.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
              <hudson.plugins.plot.Plot>
                  <title>BB - Structure Objects</title>
                  <yaxis>Count</yaxis>
                  <series>
                      <hudson.plugins.plot.CSVSeries>
                          <file>build/logs/phploc.csv</file>
                          <label/>
                          <fileType>csv</fileType>
                          <strExclusionSet>
                              <string>Functions</string>
                              <string>Traits</string>
                              <string>Classes</string>
                              <string>Methods</string>
                              <string>Interfaces</string>
                              <string>Constants</string>
                          </strExclusionSet>
                          <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
                          <exclusionValues>
                              Interfaces,Traits,Classes,Methods,Functions,Constants
                          </exclusionValues>
                          <url/>
                          <displayTableFlag>false</displayTableFlag>
                      </hudson.plugins.plot.CSVSeries>
                  </series>
                  <group>phploc</group>
                  <numBuilds>100</numBuilds>
                  <csvFileName>1234245913.csv</csvFileName>
                  <csvLastModification>0</csvLastModification>
                  <style>line</style>
                  <useDescr>false</useDescr>
              </hudson.plugins.plot.Plot>
          </plots>
      </hudson.plugins.plot.PlotPublisher>
    <org.jenkinsci.plugins.cloverphp.CloverPublisher>
      <publishHtmlReport>true</publishHtmlReport>
      <reportDir>build/coverage</reportDir>
      <xmlLocation>build/logs/clover.xml</xmlLocation>
      <disableArchiving>false</disableArchiving>
      <healthyTarget>
        <methodCoverage>70</methodCoverage>
        <statementCoverage>80</statementCoverage>
      </healthyTarget>
      <unhealthyTarget/>
      <failingTarget/>
    </org.jenkinsci.plugins.cloverphp.CloverPublisher>
    <hudson.plugins.crap4j.Crap4JPublisher>
      <reportPattern>build/logs/crap4j.xml</reportPattern>
      <healthThreshold></healthThreshold>
    </hudson.plugins.crap4j.Crap4JPublisher>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>API Documentation</reportName>
          <reportDir>build/api</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>true</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <xunit>
      <types>
        <PHPUnitJunitHudsonTestType>
          <pattern>build/logs/junit.xml</pattern>
          <faildedIfNotNew>true</faildedIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>true</stopProcessingIfError>
        </PHPUnitJunitHudsonTestType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold>0</unstableThreshold>
          <unstableNewThreshold>0</unstableNewThreshold>
          <failureThreshold>0</failureThreshold>
          <failureNewThreshold>0</failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold>0</unstableThreshold>
          <unstableNewThreshold>0</unstableNewThreshold>
          <failureThreshold>0</failureThreshold>
          <failureNewThreshold>0</failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
      <thresholdMode>1</thresholdMode>
    </xunit>
    <hudson.plugins.jdepend.JDependRecorder>
      <configuredJDependFile>build/logs/jdepend.xml</configuredJDependFile>
    </hudson.plugins.jdepend.JDependRecorder>
    <hudson.plugins.violations.ViolationsPublisher>
      <config>
        <suppressions class="tree-set">
          <no-comparator/>
        </suppressions>
        <typeConfigs>
          <no-comparator/>
          <entry>
            <string>checkstyle</string>
            <hudson.plugins.violations.TypeConfig>
              <type>checkstyle</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>build/logs/checkstyle.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>codenarc</string>
            <hudson.plugins.violations.TypeConfig>
              <type>codenarc</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>build/logs/pmd-cpd.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpplint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpplint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>csslint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>csslint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>findbugs</string>
            <hudson.plugins.violations.TypeConfig>
              <type>findbugs</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>fxcop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>fxcop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>gendarme</string>
            <hudson.plugins.violations.TypeConfig>
              <type>gendarme</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jcreport</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jcreport</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jslint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jslint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pep8</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pep8</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pmd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pmd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>build/logs/pmd.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pylint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pylint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>simian</string>
            <hudson.plugins.violations.TypeConfig>
              <type>simian</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>stylecop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>stylecop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
        </typeConfigs>
        <limit>100</limit>
        <sourcePathPattern></sourcePathPattern>
        <fauxProjectPath></fauxProjectPath>
        <encoding>default</encoding>
      </config>
    </hudson.plugins.violations.ViolationsPublisher>
  </publishers>
  <buildWrappers/>
</project>
